 body {
    text-align: center;
}

div {
	background: url("Images/lpBackground.jpg") no-repeat center center fixed; 
  	background-size: cover;
	font-size: 25px;
	font-family: Helvetica;
	color:#1B3435;
}

}

img {
	margin: auto;
}

#homepageLogo {
	height: 95px;
	width: 405px;
}


h1 {
	color: #356769;
	font-family: sans-serif;
	font-size: 46px; 
}


